/* Put your style information here! */
.center {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}

.grey {
	text-align: center-left;
	color: #484848;
}
.head{
	ol {
  	 margin:0 0 1.5em;
  	 padding:0;
  	 counter-reset:item;
	font-size:600px;
	}
 
	ol>li {
  	 margin:0;
  	 padding:0 0 0 2em;
  	 text-indent:-2em;
  	 list-style-type:none;
  	 counter-increment:item;
	 font-size:600px;
	}
 
	ol>li:before {
  	 display:inline-block;
  	 width:1.5em;
  	 padding-right:0.5em;
  	 font-weight:bold;
  	 text-align:right;
	 font-size:1000px;
  	 content:counter(item) ".";
	}
}
